version: "3.9"

services:
  db:
    image: postgres:18.1
    ports:
     - "5432:5432"
    environment:
      POSTGRES_USER: "db_owner"
      POSTGRES_PASSWORD: "testing"
      POSTGRES_DB: "toy"
    volumes:
      - db-data:/var/lib/postgresql/
      - ./load_init_migrations.sql:/docker-entrypoint-initdb.d/load_init_migrations.sql
    restart: unless-stopped
    command: -c log_statement=all
    networks:
      - full_stack

#  api:
#    build: .
#    ports:
#      - "3000:3000"
#    depends_on:
#      - db
#    env_file: .env
#    networks:
#      - full_stack


#  nginx:
#    image: nginx:1.29.4
#    ports:
#      - "3002:443"
#    environment:
#      PROXY_PORT: 3000
#      PROXY_PROTOCOL: "https"
#    volumes:
#      - ./nginx.conf:/etc/nginx/conf.d/default.conf
#      - ./certs/localhost+2.pem:/etc/nginx/certs/fullchain.pem
#      - ./certs/localhost+2-key.pem:/etc/nginx/certs/privkey.pem
#      - ./templates:/etc/nginx/html
#      - ./static:/etc/nginx/html/static
#    networks:
#      - full_stack
#    depends_on:
#      - api

volumes:
  db-data: {}
  cache:
    driver: local

networks:
  full_stack:
    name: full_stack
