{% extends "base.html" %}
{% block body %}
<div class="center flex-row" style="gap: 5px;">
    <div class="flex-stack">
        <h1>Login</h1>
        <form id='login-form'
              hx-encoding='application/x-www-form-urlencoded'
              hx-post="/login"
        >
            <input name="username" type="text" placeholder="Enter your user name"/>
            <input name="password" type="password" placeholder="Enter password"/>
            <button type="submit">Login</button>
        </form>
    </div>
    <div class="flex-stack">
        <h1>Sign Up</h1>

        <form id='sign-up-form'
              hx-encoding='application/x-www-form-urlencoded'
              hx-post="/sign-up"
        >
            <input name="username" type="text" placeholder="Enter your user name"/>
            <input name="password" type="password" placeholder="Enter password"/>
            <button type="submit" >Sign Up</button>
        </form>
    </div>

</div>
{% endblock %}