<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Toy App</title>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js" integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz" crossorigin="anonymous"></script>
</head>
<body>


    <form id='login-form' hx-encoding='application/x-www-form-urlencoded' hx-post="/login">
        <input name="username" type="text" placeholder="Enter your user name"/>
        <input name="password" type="password" placeholder="Enter password"/>
        <button type="submit">Login</button>
    </form>

    <form id='sign-up-form' hx-encoding='application/x-www-form-urlencoded' hx-post="/sign-up">
        <input name="username" type="text" placeholder="Enter your user name"/>
        <input name="password" type="password" placeholder="Enter password"/>
        <button type="submit" >Sign Up!</button>
    </form>

</body>
</html>