<!DOCTYPE html>
<html lang="en" xmlns:hx-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Toy App</title>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js" integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz" crossorigin="anonymous"></script>
</head>
<body>


    <form id='login-form'
          hx-encoding='application/x-www-form-urlencoded'
          hx-post="/login"
          hx-target="#login-content"
          hx-on::after-request=" if (event.detail.successful) {
              const response = JSON.parse(event.detail.xhr.responseText);
              localStorage.setItem('token', response.token);
          }"
    >
        <input name="username" type="text" placeholder="Enter your user name"/>
        <input name="password" type="password" placeholder="Enter password"/>
        <button type="submit">Login</button>
    </form>
    <div id="login-content"></div>

    <form id='sign-up-form'
          hx-encoding='application/x-www-form-urlencoded'
          hx-post="/sign-up"
    >
        <input name="username" type="text" placeholder="Enter your user name"/>
        <input name="password" type="password" placeholder="Enter password"/>
        <button type="submit" >Sign Up!</button>
    </form>
    <button hx-get="/profile">Get your token</button>

    <script>
        document.body.addEventListener('htmx:configRequest', (event) => {
            const bearerToken = localStorage.getItem('token');
            if (bearerToken) {
                event.detail.headers['Authorization'] = `Bearer ${bearerToken}`;
            }
        });
    </script>
</body>
</html>